# Runs the deyeconfig storm mode check every 15 minutes.

[Unit]
Description=Run deyeconfig storm mode check every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
RandomizedDelaySec=30
Persistent=true

[Install]
WantedBy=timers.target
